{% extends "base.html" %}
{% block content %}

    <h1>Forgot Password</h1>

    <p>
        Enter your username to recieve an email with your temp password.
        Once you are sign in with the temp password, you can reset your password.
    </p>

    <form action="" method="post" novalidate>
        <div class="jumbotron">
        {{ form.hidden_tag() }}
        <p>
            {{ form.user.label }}<br>
            {{ form.user(size=32) }}
            {% for error in form.user.errors %}
            <span style="color: #663399;">[{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        </div>
    </form>
{% endblock %}
