{% extends "base.html" %}

{% block content %}
<table
      <h1>User: {{ user.username }}</h1>
      {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
</table>
    <h1>User: {{ user.username }}</h1>
    <hr>
    {% for post in posts %}
    <p>
    {{ post.author.username }} is currently selling: <b>{{ post.body }}</b>
    </p>
    {% endfor %}
      <p>Want to add an item to your profile? Click here <a href="{{ url_for('add_item') }}">Click to add an item!</a></p>
      {% if user == current_user %}
               <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
               {% endif %}
{% endblock %}
